.wrapper{
  text-align: center;
}
.header{
  background-color: #333;
  color: white;
  padding: 10px;
}
button{
  padding: 5px 10px;
  margin-bottom: 10px;
}
.error h1 {
  font-size: 100px;
  color: lightBlue;
}
.error p {
  font-size: 50px;
  color: lightBlue;
}
